.flashcards-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.left-panel-div {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: firebrick;
}

.right-panel {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(105, 1, 1);
}

.instructions {
    margin-top: 10em;
}

.flashcard {
    padding: 2em;
    padding-bottom: 3em;
    margin: 1.5em;
    font-size: 16px;
    background-color: rgba(73, 136, 49, 0.733);
    color: cornsilk;
}

.card-on-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-on-view-wrapper {
    /* min-width: 12.5em; */
    /* max-width: 12.5em; */
    /* min-height: 17.5em; */
    /* max-height: 17.5em; */
    border: 4px solid gold;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgba(31, 73, 61, 0.555);
    color: cornsilk;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 4em;
}

.reveal-button, .new-button {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;   
    margin-top: 2em;
    background-color: blanchedalmond;
    outline: bisque;
}

.button {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    background-color: blanchedalmond;
    outline: bisque;

}

.form-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 4em 0 0 4em;
    background-color: maroon;
    color: cornsilk;
    font-size: 18px;
    font-weight: bolder;
}

.inputbox {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column; }

 .label {
     color:cornsilk;
 }

 .textarea {
     min-height: 7em;
     max-width: 197.94px;
     background-color: bisque;
}

.inputbar {
    background-color: bisque;
    min-height: 25px;
}