.flashcards-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.left-panel-div {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(37, 37, 37);
}

.right-panel {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    padding: 0 2em 2em 1.2em;
    margin: 2em 2em 2em 0;
    border-radius: 10px;
}

.instructions {
    margin: 4em 0 1em 2em;
    font-size: 16px;
}

li {
    margin-bottom: 1em;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
}

.no-match {
    color: rgb(156, 118, 118);
    font-size: 3em;
    margin-top: 3em;
    padding-top: 3em;
}

.flashcard {
    padding: 2em 1em 1em 2em;
    margin: 1.5em;
    max-width: 265px;
    max-height: 395px;
    min-width: 265px;
    min-height: 395px;
    font-size: 16px;
    background-color: lemonchiffon;
    color: cornsilk;
    border-radius: 10px;
    border: 0.3em solid tomato;
}

/* .flashcard:first-of-type{
    background-color: maroon;
}

.flashcard:last-of-type {
    background-color: rgb(147, 136, 214);
} */

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.link-flashcard {
    color: cornsilk;
    text-decoration: none;
    margin-bottom: 2em;
}

.link-flashcard:hover {
    width: max-content;
}
  

.headword-link {
    width: max-content;
    padding: 0.3em;
}
  
.headword-link:hover {
    background-color: rgba(128, 128, 0, 0.185);
    color: aliceblue;
}

.card-on-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card-on-view-wrapper {
    max-width: 265px;
    max-height: 395px;
    min-width: 265px;
    min-height: 395px;
    border-radius: 10px;
    box-shadow: 0 18px 38px black;
    box-sizing: border-box;
    padding: 2em;
    background-color: lemonchiffon;
    color: black;
    font-size: 16px;
    margin-top: 4em;
    perspective: 1000px;
    border: 0.2em solid tomato;
    position: relative;
    transition: transform 6s;
    transform-style: preserve-3d;
}

.card-on-view-container:hover .card-on-view-wrapper {
    transform: rotateY(180deg);
}

.card-on-view-front, .card-on-view-back {
    backface-visibility: hidden;
}

.card-on-view-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-on-view-back {
    transform: rotateY(180deg);
}

.card-on-view-headword {
    color: maroon;
}

.card-on-view-functional-label {
    color: navy;
    margin-bottom: 2em;
}

.sort-button-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2em 0 2em;
}

.sort-button {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;
    margin: 2em 1em 0 0;
    background-color: dimgray;
    color: moccasin;
    border: 1px solid dimgray;
}

.new-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 2em 0 0;
}

.reveal-button, .new-button {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;   
    margin-top: 2em;
    background-color: dimgray;
    color: moccasin;
    border: 1px solid dimgray;
}

.button {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
    background-color: dimgray;
    color: moccasin;
    border: 1px solid dimgray;
}

.headword-link {
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.click-more-button {
    margin: 2em 0 2em 0;
    max-width: 3em;
    min-width: 3em;
    max-height: 3em;
    min-height: 3em;
    border-radius: 50%;
    background-color: maroon;
    color:oldlace;
    border:1px solid lemonchiffon;
}

.form-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    background-color: midnightblue;
    color: cornsilk;
    font-size: 18px;
    font-weight: bolder;
    margin: 5em 2em 2em 0;
    border-radius: 10px;
    box-shadow: 0 8px 38px maroon;
}

.inputbox {
    width: 100%;
    min-width: 15em;
    margin-top: 1em;
    display: flex;
    flex-direction: column; }

 .label {
     color: cornsilk;
     margin-left: 2em;
 }

 .label-definition {
     color: darkgreen;
 }

 .textarea {
    min-height: 7em;
    min-width: 25em;
    max-width: 25em;
    background-color: bisque;
    border-radius: 5px;
    padding: 1em 1em 0 1em;
    outline: none;
    border: 1px solid bisque;
}

.inputbar {
    background-color: bisque;
    max-width: 26em;
    min-height: 35px;
    border-radius: 5px;
    padding-left: 1em;
    outline: none;
    border: 1px solid bisque;
}

.forward-backward-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.escutcheon {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    padding: 3em;
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid cornsilk;
}

.escutcheon-inner-2 {
    padding: 2em;
    border-radius: 50%;
    background-color: maroon;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escutcheon-inner-1 {
    border: 1px solid cornsilk;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    padding: 1em;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escutcheon-inner-0 {
    border: 2px solid cornsilk;
    padding: 1.5px;
}

/* .drop-down-container {
    padding-left: 2em;
} */

/* .select-element {
    background-color: bisque;
    min-height: 36px;
    padding: 0 2em 0 2em;
    outline: none;
    border-radius: 5px;
} */