.flashcards-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    /* background-color: rgb(37, 37, 37); */
    background-color: black;
}

.left-panel-div {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-panel {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    padding: 0 2em 2em 1.2em;
    margin: 4em 2em 2em 0;
    border-radius: 10px;
}

.instructions {
    margin: 4em 0 1em 2em;
    font-size: 16px;
}

li {
    margin-bottom: 1em;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
}

.no-match {
    color: rgb(156, 118, 118);
    font-size: 3em;
    margin-top: 3em;
    padding-top: 3em;
}

.flashcard {
    padding: 2em 1em 1em 2em;
    margin: 1.5em;
    max-width: 265px;
    max-height: 395px;
    min-width: 265px;
    min-height: 395px;
    font-size: 16px;
    /* font-weight: bolder; */
    background-color: black;
    color: lemonchiffon;
    border-radius: 10px;
    border: 0.3em solid darkred;
}

.is-learned {
    border: 0.3em solid forestgreen;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.link-flashcard, a {
    color: cornsilk;
    text-decoration-color: tomato;
    margin-bottom: 2em;
}

.link-flashcard:hover {
    width: max-content;
}
  

.headword-link {
    width: max-content;
    padding: 0.3em;
}
  
.headword-link:hover {
    background-color: rgba(128, 128, 0, 0.185);
    color: aliceblue;
}

.card-on-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card-on-view-wrapper {
    max-width: 265px;
    max-height: 395px;
    min-width: 265px;
    min-height: 395px;
    border-radius: 10px;
    box-shadow: 0 18px 38px black;
    box-sizing: border-box;
    padding: 2em;
    /* background-color: lemonchiffon; */
    background-color: black;
    /* color: black; */
    color: lemonchiffon;
    font-size: 16px;
    /* font-weight: bolder; */
    margin-top: 4em;
    perspective: 1000px;
    border: 0.2em solid gold;
    position: relative;
    transition: transform 6s;
    transform-style: preserve-3d;
}

.card-on-view-container:hover .card-on-view-wrapper {
    transform: rotateY(180deg);
}

.card-on-view-front, .card-on-view-back {
    backface-visibility: hidden;
}

.card-on-view-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-on-view-back {
    transform: rotateY(180deg);
}

.card-on-view-headword {
    /* color: maroon; */
    color: tomato;
}

.card-on-view-functional-label {
    /* color: navy; */
    color: powderblue;
    margin-bottom: 2em;
}

.sort-button-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2em 0 2em;
}

.sort-button {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;
    margin: 2em 1em 0 0;
    /* background-color: dimgray; */
    background-color: rgba(60, 105, 173, 0.842);
    color: moccasin;
    /* border: 1px solid dimgray; */
    border: 1px solid rgba(60, 105, 173, 0.842);
}

.new-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 2em 0 0;
}

.reveal-button, .new-button {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;   
    margin-top: 2em;
    /* background-color: dimgray; */
    background-color: rgba(30, 76, 145, 0.747);
    color: moccasin;
    /* border: 1px solid dimgray; */
    border: 1px solid rgba(30, 76, 145, 0.747);
}

.button {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
    /* background-color: dimgray; */
    background-color: rgba(30, 76, 145);
    color: moccasin;
    /* border: 1px solid dimgray; */
    border: 1px solid rgba(30, 76, 145);
}

.headword-link {
    border-radius: 10px;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.forward-backward-buttons-container {
    display: flex;
    justify-content: center;
    padding-left: 0 2em 0 2em;
    justify-content: space-between;
}

.click-more-button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.click-more-button {
    margin: 2em 0 2em 0;
    max-width: 3em;
    min-width: 3em;
    max-height: 3em;
    min-height: 3em;
    padding-left: 0 2em 0 2em;
    border-radius: 50%;
    background-color: maroon;
    color:oldlace;
    border:1px solid maroon;
}

.form-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    /* background-color: maroon; */
    color: cornsilk;
    font-size: 18px;
    font-weight: bolder;
    margin: 6.5em 2em 2em 0;
    border-radius: 10px;
    box-shadow: 0 8px 38px black;
    border: 0.3em solid gold;
}

.inputbox {
    width: 100%;
    min-width: 15em;
    margin-top: 1em;
    display: flex;
    flex-direction: column; }

 .label {
     color: cornsilk;
     margin-left: 2em;
 }

 .label-definition {
     /* color: darkgreen; */
     color:chartreuse;
 }

 .textarea {
    min-height: 7em;
    min-width: 25em;
    max-width: 25em;
    background-color: bisque;
    border-radius: 5px;
    padding: 1em 1em 0 1em;
    outline: none;
    border: 1px solid bisque;
}

.inputbar {
    background-color: bisque;
    max-width: 26em;
    min-height: 35px;
    border-radius: 5px;
    padding-left: 1em;
    outline: none;
    border: 1px solid bisque;
}

.escutcheon {
    min-width: 20em;
    max-width: 20em;
    min-height: 20em;
    max-height: 20em;
    padding: 1em;
    margin: 2em 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid gold;
}

.escutcheon-inner-0 {
    border: 0.5em solid gold;
    min-width: 18em;
    max-width: 18em;
    min-height: 18em;
    max-height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escutcheon-inner-1 {
    border: 0.1em solid gold;
    min-width: 17.3em;
    max-width: 17.3em;
    min-height: 17.3em;
    max-height: 17.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escutcheon-inner-2 {
    /* padding: 0.01em; */
    border-radius: 50%;
    /* background-color: maroon; */
    background-color: goldenrod;
    min-width: 5em;
    max-width: 5em;
    min-height: 5em;
    max-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

#edit {
    /* padding: 0.01em; */
    /* background-color: maroon; */
    background-color: antiquewhite;
    color: black;
    min-width: 4em;
    max-width: 4em;
    min-height: 4em;
    max-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.review-button-container {
    display: flex;
    justify-content: space-evenly;
}